<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="">
        <label for="">Nombre pr</label>
        <input name="producto" placeholder="nombre" type="text">
        <br>
        <label for="">Iva</label>
        <input name="iva" placeholder="IVA" type="text">
        <br>
        <label for="">Precio</label>
        <input name="precio" placeholder="Precio" type="text">
    </form>


</body>
</html>